<div class="container">
    <div class="container-search">
        <input type="text" class="input-search" (keyup)="searchEmployee()" [(ngModel)]="wordSearched"
            name="wordSearched" placeholder="Search...">

        <button class="btn-primary btn-add" (click)="add()">Agregar</button>
    </div>
    <div class="container-table">
        <table>
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Primer apellido</th>
                    <th>Segundo apellido</th>
                    <th>Tipo de identificación</th>
                    <th>Código de identificación</th>
                    <th>País del empleo</th>
                    <th>Correo electrónico</th>
                    <th>Fecha de admisión</th>
                    <th>Área</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let employee of employees; index as i" class="">
                    <tr>
                        <td>{{employee.first_name}} {{employee.other_names}}</td>
                        <td>{{employee.lastname}}</td>
                        <td>{{employee.second_lastname}}</td>
                        <td>{{employee.type_identification}}</td>
                        <td>{{employee.code_identification}}</td>
                        <td>{{employee.country_employment}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.date_admission}}</td>
                        <td>{{employee.area}}</td>
                        <td>
                            <a (click)="update(employee)" class="">
                                <i class="fa fa-pencil-square-o"></i>
                            </a>
                            <a (click)="delete(employee.id)" class="danger p-0 m-1">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

        <!-- <div class="container-options">
            <span>{{getQuantityProduct()}}</span>
            <select (change)="searchProduct()" [(ngModel)]="paginationQuantity" class="select-pagination">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
        </div> -->
    </div>
</div>